
/* ------------------------------------  Navbar part start ------------------------------------- */

/* - Navbar-default    */


.navbar-akash {
    background-color: #704CAF;
    border: none;
}
.navbar-akash .navbar-brand {
    font-family: "Comic Sans MS";;
    font-style: italic;
    color: lime;
    background-color: transparent;
    border-bottom: solid 5px #dddddd;
}
.navbar-akash .navbar-brand:hover,
.navbar-akash .navbar-brand:focus {
    color: #dddddd;
    background-color: transparent;
    background-color: transparent;
    border-bottom: solid 5px limegreen;
}
.navbar-akash .navbar-text {
    color: orangered;
}
.navbar-akash .navbar-nav > li > a {
    color: lime;
    font-family: "Comic Sans MS";
    font-weight: bold;
    border-bottom: solid 5px #dddddd;
}
.navbar-akash .navbar-nav > li > a:hover,
.navbar-akash .navbar-nav > li > a:focus {
    color: #fff;
    background-color: transparent;
    border-bottom: solid 5px limegreen;

}
.navbar-akash .navbar-nav > .active > a,
.navbar-akash .navbar-nav > .active > a:hover,
.navbar-akash .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: orangered;
}
.navbar-akash .navbar-nav > .disabled > a,
.navbar-akash .navbar-nav > .disabled > a:hover,
.navbar-akash .navbar-nav > .disabled > a:focus {
    color: #444;
    background-color: transparent;
}
.navbar-akash .navbar-toggle {
    border-color: #333;
}
.navbar-akash .navbar-toggle:hover,
.navbar-akash .navbar-toggle:focus {
    background-color: black;
}
.navbar-akash .navbar-toggle .icon-bar {

}
.navbar-akash .navbar-collapse,
.navbar-akash .navbar-form {
    border-color: #101010;
}
.navbar-akash .navbar-nav > .open > a,
.navbar-akash .navbar-nav > .open > a:hover,
.navbar-akash .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: #704CAF;
}
@media (max-width: 767px) {
    .navbar-akash .navbar-nav .open .dropdown-menu > .dropdown-header {
        border-color: #080808;
    }
    .navbar-akash .navbar-nav .open .dropdown-menu .divider {
        background-color: #704CAF;
    }
    .navbar-akash .navbar-nav .open .dropdown-menu > li > a {
        color: #9d9d9d;
        background-color: #704CAF;
    }
    .navbar-akash .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-akash .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #fff;
        background-color: transparent;
    }
    .navbar-akash .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-akash .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-akash .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #fff;
        background-color: #080808;
    }
    .navbar-akash .navbar-nav .open .dropdown-menu > .disabled > a,
    .navbar-akash .navbar-nav .open .dropdown-menu > .disabled > a:hover,
    .navbar-akash .navbar-nav .open .dropdown-menu > .disabled > a:focus {
        color: #444;
        background-color: transparent;
    }
}
.navbar-akash .navbar-link {
    color: #9d9d9d;
}
.navbar-akash .navbar-link:hover {
    color: #fff;
}
.navbar-akash .btn-link {
    color: #9d9d9d;
}
.navbar-akash .btn-link:hover,
.navbar-akash .btn-link:focus {
    color: #fff;
}
.navbar-akash .btn-link[disabled]:hover,
fieldset[disabled] .navbar-akash .btn-link:hover,
.navbar-akash .btn-link[disabled]:focus,
fieldset[disabled] .navbar-akash .btn-link:focus {
    color: #444;
}


/* ---------------------  Navbar part end --------------------------------- */


/* ---------------------- Body part start  --------------------------------- */


body {
    margin: 0px;
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    background-color: #473368;
}



.well-custom{


    padding: 15px;
    margin-bottom: 20px;
    background-color: #704CAF;
    border-radius: 4px;
    box-shadow: 0px 0px 20px #2B2F32;
    color: #dddddd;
}



.well-custom-list a{
    font-size: medium;
    color: #fff;
    display: block;

    margin-left: 20px;
    padding: 3px 0px;
    border-bottom: solid 0.5px #C29FFF;
}
.well-custom-list a:hover{
    background-color: #473368;
    color: white;
    text-decoration: none;
}



/* -------------------------------- Body part end ---------------------------------------  */